body {
  background-color: floralwhite;
}

#pets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
}

.dropdown {
  margin-top: 5px;
  margin-bottom: 15px;
}

.petName {
  display: flex;
  justify-content: center;
}

.color {
  display: flex;
  justify-content: center;
}

.specialSkill {
  text-align: center;
  margin-top: 5px;
} 

.petType {
  position: absolute;
  top: 90%;
  left: 45%;
}

.btnGroup {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  gap: 10px;
}

#dog-btn {
  background-color: green;
}

#cat-btn {
  background-color: pink;
}

#dino-btn {
  background-color: orange;
}

#all-btn {
  background-color: purple;
}
